<footer class="footer text-light py-4">
    <div class="container mt-5 mt-md-0">
        <div class="row">
            <div class="col-md-6 mb-3 text-center text-md-start">
                <p class="mb-0">{{data?.address?.name}}</p>
                <p class="mb-0">{{data?.address?.phone}}</p>
                <p class="mb-0">{{data?.address?.location}}</p>
            </div>

            <div *ngIf="data?.links" class="col-md-6 mb-3 text-center text-md-start">
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of data.links">
                        {{item?.name}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Social Media Icons -->
        <div class="col-md-6 text-center text-md-end d-block d-md-none">
            <span class="cursor-pointer mx-2 media-icon">
                <img src="assets/icon_fb.svg" alt="">
            </span>
            <span class="cursor-pointer mx-2 media-icon">
                <img src="assets/icon_insta.svg" alt="">
            </span>
            <span class="cursor-pointer mx-2 media-icon">
                <img src="assets/icon_youtb.svg" alt="">
            </span>
        </div>

        <hr class="my-4" />

        <div class="row align-items-center">
            <!-- Copyright -->
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                <p class="mb-0">© BASIC 2024</p>
            </div>

            <!-- Social Media Icons -->
            <div class="col-md-6 text-center text-md-end d-none d-md-block">
                <span class="cursor-pointer mx-2 media-icon">
                    <img src="assets/icon_fb.svg" alt="">
                </span>
                <span class="cursor-pointer mx-2 media-icon">
                    <img src="assets/icon_insta.svg" alt="">
                </span>
                <span class="cursor-pointer mx-2 media-icon">
                    <img src="assets/icon_youtb.svg" alt="">
                </span>
            </div>
        </div>
    </div>
</footer>